all:
  # Configuration du plugin
  sf_admin_template:
    # Configuration du menu
    menus:
      # Création d'un élément de menu
      article:
        label: Articles
        credentials: [admin]
        route_prefix: article
    # Configuration des templates (défaut : admin, clean)
    templates: [admin, clean, myLayout]