all:
  # Configuration du plugin
  sf_admin_template:
    # Configuration du menu
    menus:
      # Création d'un élément de menu
      dashboard:
        label: Tableau de bord
        credentials: [admin]
        route_prefix: sf_admin_dashboard
    # Configuration des templates (défaut : admin, clean)
    templates: [admin, clean, myLayout]
    # Configuration de GoogleAnalytics
    google_analytics:
      code: "UA-1234567-1"
      profile: 12345678